.container {
  max-width: 95%;
  max-height: 100vh;
  margin: 0 auto;
  position: relative;
  color: #595757;
}

.table {
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
  overflow: hidden;
}

.table button {
  margin-right: 5px;
}

.table th,
.table td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: left;
}

.table th {
  background-color: #e2ebfd;
  font-weight: 600;
}

.table tbody tr:hover {
  background-color: #f1f1f1;
}

.noManagers {
  text-align: center;
  font-size: 1.4rem;
  color: #545252;
}

.statsContainer {
  margin: 20px 0 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  padding: 10px;
  background: #f8f9fa;
  border-radius: 8px;
}

.stats {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

.pagination {
  display: flex;
  justify-content: center;
}
