.home_container {
  overflow: hidden;
  min-height: 100%;
  background-image: url('../../images/PNG/apartment_background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
}
