.filtersContainer {
  max-width: 95%;
  margin: 5px auto;
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}

.filtersBody {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  right: 0;
}

.filterInput {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 13px;
  outline: none;
  transition: border-color 0.2s;
  width: 150px;
}

.filterInput:focus {
  border-color: #488ff1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.checkboxContainer {
  max-height: 35px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(185, 185, 180, 0.5);
  box-shadow:
          0 2px 4px 0 rgba(0, 0, 0, 0.2),
          0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
}

.customCheckbox {
  width: 20px;
  height: 20px;
  accent-color: coral;
}

.resetButton {
  cursor: pointer;
  width: 25px;
  border-radius: 50%;
  background-color: transparent;
  transition: opacity 0.2s;
}
