.orders_container {
 margin: 1rem auto;
    max-width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    сolor: #333;
}

.orders_container h3 {
    font-size: 16px;
    color: #333;
}

.orders_container p {
    сolor: #333;

}

.user_info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.role, .name {
    margin: 0.5rem 0;
    font-size: 1rem;
}

.role {
    font-weight: bold;
    color: #666;
}

.name {
    color: #86b6f1;
}

.logoImage {
    width: 40px;
    border-radius: 50%;
    height: auto;
    object-fit: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo {
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}